
@{
    Layout = null;
}


<div style="display:none">responseformUT SuccessPop</div>

<div class="TtPnCr">  
        <div class=" LineDiv "></div>
        <div class="TtAnCr Wh100p">
            <h1> Successfully Submitted!</h1>
            <i class="fa-solid fa-smile-wink FtSz36"></i>
        </div>

</div>