@{
    ViewData["Title"] = "Error";
    ViewData["Action"] = "Role";
}
<div style="display:none">responseformUT</div>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

