@model WebAppColorStays.Models.ViewModel.CsNews

@{
    Layout = "_Layout";
    ViewData["Action"] = "News";
}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Edit @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/News/Create'"><i class="UT-AddFile FtSz18"></i></button>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/News/Index'"><i class="UT-List-OLine FtSz18"></i></button>
    </div>

</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx50 Pg3">
            <div id="UTabs1">
                <div> Detail</div>
                <div>Add Image</div>
                <div>SetUp</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <div id="UTabs1Cont0">
                    <h3 class="MnTp7 MnBm14 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
                        <i class="UT-PenNibSmall"></i>
                        Enter Detail
                    </h3>
                    <form id="Create"
                          data-ajax="true"
                          data-ajax-url="/ColorStays/News/Edit"
                          data-ajax-method="POST"
                          data-ajax-loading="#loader"
                          data-ajax-success="Success(data, status, xhr,'Create','CreateOrEdit','/ColorStays/News/CreateOrEdit?id=@Model.Id')"
                          data-ajax-failure="FormAjaxFail(xhr, status, error,'Create')">

                        @Html.AntiForgeryToken()

                        <input type="hidden" name="NameAction" value="Es" />

                        <div id="CreateOrEdit">@await Html.PartialAsync("_CreateOrEdit", Model)</div>

                        <div class="MnTp7 MnBm7" style="height:66vh;">
                            <div>
                                <div class="MaxMinDv">
                                    <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.News)" asp-for="News" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="MnTp7 MnBm7 FxRw">
                            <div class="FxGw1">
                                <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-AddFile"></i>&nbsp;Add</button>
                            </div>
                            <div>
                                <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/News/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="UTabs1Cont1">
                    <div class="Pg12">
                        <h3 class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">
                            <i class="UT-ImageLine"></i>
                            Upload Image
                        </h3>
                        <form id="CreateDn"
                              data-ajax="true"
                              data-ajax-url="/ColorStays/News/SaveImage"
                              data-ajax-method="POST"
                              data-ajax-loading="#loader"
                              enctype="multipart/form-data"
                              data-ajax-success="SuccessDn(data, status, xhr,'CreateDn','AddImage')"
                              data-ajax-failure="FormAjaxFail(xhr, status, error,'CreateDn')">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="NameAction" value="E" />
                            <div id="AddImage"></div>

                            <div class="MnTp7 MnBm7 FxRw">
                                <div class="FxGw1">
                                    <button type="submit" id="submit-all" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-ImageLine"></i>&nbsp;Upload</button>
                                </div>
                                <div>
                                    <button style="display:none;" id="SwTb3" type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94 MnRt5" onclick="ShowEditImage()"><i class="UT-ArrowRightCircleLine"></i>&nbsp;Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="UTabs1Cont2">
                    <div id="AddImgDetail" style="height: 400px;overflow: auto;"></div>
                    <div class="Pg10 FxRw">
                        <div class="FxGw1">
                            <button type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/News/Create'"><i class="UT-SmileyThumbUp FtWt800"></i>&nbsp;Finish</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="ActiveTabUt('UTabs1', 1)"><i class="UT-CancelCircleLine"></i>&nbsp;Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Fx50 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            <div id="UTabs2">
                <div>All News </div>
                <div>Image</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr CrBrTe BrRs5 ">
                <div id="UTabs2Cont0">
                    <div id="Detail">
                        @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Models.ViewModel.CsNews>)ViewData["EnteredDetails"])
                    </div>
                </div>
                <div id="UTabs2Cont1">
                    <div id="Images"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/tinymce_6.2.0/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
    $(document).ready(function () {
        TabsUT('UTabs1', 0, null, []);
        TabsUT('UTabs2', 0, null, []);
        StartSuggestionBox(2, 'SearchCity', '/ColorStays/City/SuggestCity', '', '', AoCeCity);
        StartSuggestionBox(2, 'SearchActivity', '/ColorStays/Activity/SuggestActivity', '', '', AoCeActivity);
        StartSuggestionBox(2, 'SearchNewsCategory', '/ColorStays/NewsCategory/SuggestNewsCategory', '', '', AoCeNewsCategory);
        var Id = $("#Id").val();

        getUT('/ColorStays/News/UploadedImage?Id=' + Id, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            document.getElementById('SwTb3').style.display = "block";
            HideLoader();
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/News/UploadedImage?Id=' + Id + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
        ShowTagsSd(Id);
        MaxMin();
    });

    tinymce.init({
        selector: '#News',
        plugins: `a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker visualblocks wordcount`,
        toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck code | Source Code',
        a11ychecker_level: 'aaa',
        style_formats: [
            { title: 'Heading 1', block: 'h1' },
            { title: 'Heading 2', block: 'h2' },
            { title: 'Paragraph', block: 'p' },
            { title: 'Blockquote', block: 'blockquote' },
            { title: 'Image formats' },
            { title: 'Medium', selector: 'img', classes: 'medium' },
        ],
        object_resizing: true,
        valid_classes: {
            'img': 'medium',
            'div': 'related-content'
        },
        image_caption: true,
        templates: [
            {
                title: 'Related content',
                description: 'This template inserts a related content block',
                content: '<div class="related-content"><h3>Related content</h3><p><strong>{$rel_lede}</strong> {$rel_body}</p></div>'
            }
        ],
        content_langs: [
            { title: 'English (US)', code: 'en_US' },
        ],
        content_style: `
                        img {
                            height: auto;
                        margin: auto;
                        padding: 10px;
                        display: block;
                                            }
                        img.medium {
                            max - width: 25%;
                                            }
                        `
    });

    //Show Tags
    function ShowTagsSd(Id) {
        //Show the Blog Tags
        StOnTs = document.getElementById('Tags');
        getUT('/ColorStays/News/DpDnTags', function (data) {
            var json = JSON.parse(data);
            var selectedtag = "";
            getUT('/ColorStays/News/DpDnNewsTags?NewsId=' + Id, function (data2) {
                selectedtag = JSON.parse(data2);
                for (var i = 0; i < json.length; i++) {
                    var obj = json[i];
                    var newOption = new Option(obj.Text, obj.Value);
                    for (var j = 0; j < selectedtag.length; j++) {
                        var val = selectedtag[j];
                        if (val.Text == obj.Text) {
                            newOption.selected = true;
                        }
                    }
                    StOnTs.add(newOption, undefined);
                }
            });
            $('.js-example-basic-multiple').select2();
        });
        //Ends
    }


    //Clear Autocompete data
    function ClearData(UrNe, UrId) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
    }


    //Clear Autocompete data
    function CyClearData(UrNe, UrId, Text1, Text2) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
        document.getElementById(Text1).value = '';
        document.getElementById(Text2).value = '';
    }

    //Autocomplete City
    function AoCeCity(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_City_Name').value = event.target.Id;
        document.getElementById('Fk_State_Name').value = event.target.Text1;
        document.getElementById('Fk_Country_Name').value = event.target.Text2;
        document.getElementById(InputId).value = event.target.Value;
    }

    //Autocomplete Item
    function AoCeActivity(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_Activity_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }

    //Autocomplete Item
    function AoCeNewsCategory(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_NewsCategory_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }


    function Success(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Def");
        ActiveTabUt('UTabs2', 0);
        ShowTagsSd(document.getElementById('Id').value);
        ShowImage(document.getElementById('Id').value);
    }

    function ShowImage(Id) {
        ShowLoader();
        getUT('/ColorStays/News/AddImage?Id=' + Id, function (data) {
            document.getElementById('AddImage').innerHTML = "";
            document.getElementById('AddImage').innerHTML = data;
            ActiveTabUt('UTabs1', 1);
            HideLoader();
        });
    }

    function ShowEditImage() {
        var Id = $("#AId").val();
        getUT('/ColorStays/News/UploadedImage?Id=' + Id + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
        ActiveTabUt('UTabs1', 2)
    }

    function SuccessDn(data, status, xhr, FormID, FormFieldID) {
        //FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDivNoFReset", "Images");
        document.getElementById('SwTb3').style.display = "block";
        ShowUploads();
        ActiveTabUt('UTabs2', 1);
    }

    function SuccessIeDl(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDivNoFReset", "Images");
        ShowUploads();
        ActiveTabUt('UTabs2', 1);
    }


    //Show the Uploaded Image in the Tab.......................
    function ShowUploads() {
        var Id = $("#AId").val();
        getUT('/ColorStays/News/UploadedImage?Id=' + Id + '&ShowBtn=' + true, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 1);
            document.getElementById('SwTb3').style.display = "block";
            HideLoader();
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/News/UploadedImage?Id=' + Id + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
    };
    //Ends.............................

    //Delete the Image
    function DeleteImg(id, field, imgname) {
        ShowLoader();
        getUT('/ColorStays/News/ImageDelete?Id=' + id + '&Field=' + field + '&ImgName=' + imgname, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 1);
            //Show the Images in LHS for Update
            getUT('/ColorStays/News/UploadedImage?Id=' + id + '&UpdateDetail=Yes', function (data) {
                document.getElementById('AddImgDetail').innerHTML = "";
                document.getElementById('AddImgDetail').innerHTML = data;
            });
            HideLoader();
        });

    };
    //Ends

    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we update the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data, "text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/News/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }
</script>

