@model LibAuthService.ModelView.Account.ChangePasswordViewModel

@{
    var show = Convert.ToString(ViewData["Message"]);
    var successfn = "";
    if (show != "ChangePassword")
    {
        Layout = null;
        successfn = "No";
    }
    else
    {
        successfn = "LoginCePd";
    }
    ViewData["Action"] = "AddUser";
}


<div class="Wh100p DyFx FxJyCtCr CrTe Pg20">
    <i class="UT-KeyLeftBigSolid" style="font-size:5rem;"></i>
</div>
<div class="Pg20 TtAnCr">
    <h3>Change Your Password</h3>
    <form id="ChangeForm"
          data-ajax="true"
          data-ajax-url="/Account/ChangePassword"
          data-ajax-method="post"
          data-ajax-loading="#loader"
          data-ajax-success="ChangePassSuccess(data, status, xhr,'ChangeForm','@successfn')"
          data-ajax-failure="FormAjaxFail(xhr, status, error,'ChangeForm')">

        @Html.AntiForgeryToken()

        <div id="CreateOrEditChange">
            <input class="TtBxMe17" type="hidden" asp-for="Email" value="@ViewData["UserEmailId"]" />

            <div class="MnTp7 MnBm7">
                <div class="TtBxMeDiv TtBxMeDivRd ">
                    <div class="TtBxFrSw Pg5 ">
                        <i class="UT-KeySmallSolid" TtBxFrIn="Icon"></i>
                        <span class="TtBxMeFr CrRd65 FtSz18" TtBxFr="Label"> OldPassword - 'Must'</span>
                    </div>
                    <div class="FxGw1" TtBx="TtBxMe"><input class="TtBxMe17" type="password" id="OldPassword" autocomplete="off" placeholder="Old Password" asp-for="OldPassword" required /></div>
                    <div class="Pg5 Cr-uPr ">
                        <i id="EyeOpenO" class="UT-EyeOpen" TtBxFrIn="Icon" onclick="ShowPassword('OldPassword','EyeOpenO','EyeCloseO')"></i>
                        <i id="EyeCloseO" class="UT-EyeClose" TtBxFrIn="Icon" onclick="ShowPassword('OldPassword','EyeOpenO','EyeCloseO')" style="display:none"></i>

                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="OldPassword"></span></div>

            </div>

            <div class="MnTp7 MnBm7">
                <div class="TtBxMeDiv TtBxMeDivRd ">
                    <div class="TtBxFrSw Pg5 ">
                        <i class="UT-KeySmallSolid" TtBxFrIn="Icon"></i>
                        <span class="TtBxMeFr CrRd65 FtSz18" TtBxFr="Label"> New Password Again - 'Must'</span>
                    </div>
                    <div class="FxGw1" TtBx="TtBxMe"><input class="TtBxMe17" type="password" id="NewPassword" required autocomplete="off" placeholder="New Password" asp-for="NewPassword" /></div>
                    <div class="Pg5 Cr-uPr ">
                        <i id="EyeOpenN" class="UT-EyeOpen" TtBxFrIn="Icon" onclick="ShowPassword('NewPassword','EyeOpenN','EyeCloseN')"></i>
                        <i id="EyeCloseN" class="UT-EyeClose" TtBxFrIn="Icon" onclick="ShowPassword('NewPassword','EyeOpenN','EyeCloseN')" style="display:none"></i>

                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="NewPassword"></span></div>

            </div>

            <div class="MnTp7 MnBm7">
                <div class="TtBxMeDiv TtBxMeDivRd ">
                    <div class="TtBxFrSw Pg5 ">
                        <i class="UT-KeySmallSolid" TtBxFrIn="Icon"></i>
                        <span class="TtBxMeFr CrRd65 FtSz18" TtBxFr="Label"> Confirm Password Again - 'Must'</span>
                    </div>
                    <div class="FxGw1" TtBx="TtBxMe"><input class="TtBxMe17" required type="password" id="ConfirmPassword" autocomplete="off" placeholder="Confirm Password" asp-for="ConfirmPassword" /></div>
                    <div class="Pg5 Cr-uPr ">
                        <i id="EyeOpenC" class="UT-EyeOpen" TtBxFrIn="Icon" onclick="ShowPassword('ConfirmPassword','EyeOpenC','EyeCloseC')"></i>
                        <i id="EyeCloseC" class="UT-EyeClose" TtBxFrIn="Icon" onclick="ShowPassword('ConfirmPassword','EyeOpenC','EyeCloseC')" style="display:none"></i>

                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="ConfirmPassword"></span></div>

            </div>
        </div>

        <div class="MnTp7 MnBm7">
            <button type="submit" class="BnRd17 CrBdTe CrTeTtLt BnWh100  SwBxIt2TtBx-Vn1 HrTmSeo94">Change Password</button>
        </div>
    </form>
</div>