@model LibAuthService.ModelView.Account.LoginViewModel

@{
    Layout = null;
    ViewData["Action"] = "ChangeEmail";
}
<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<input class="TtBxMe17" type="hidden" asp-for="Email" value="@ViewData["UserEmailId"]" />

<input class="TtBxMe17" type="hidden" asp-for="Id" />
<div class="MnTp8 MnBm8">
    <div class="TtBxMeDiv TtBxMeDivRd ">
        <div class="TtBxFrSw Pg5 ">
            <i class="UT-KeySmallSolid" TtBxFrIn="Icon"></i>
            <span class="TtBxMeFr CrRd65 FtSz18" TtBxFr="Label"> Password - 'Must'</span>
        </div>
        <div class="FxGw1" TtBx="TtBxMe"><input class="TtBxMe17" id="LoginPassword" type="password" placeholder="Password" asp-for="Password" /></div>
        <div class="Pg5 Cr-uPr ">
            <i id="EyeOpen" class="UT-EyeOpen" TtBxFrIn="Icon" onclick="ShowPassword('LoginPassword','EyeOpen','EyeClose')"></i>
            <i id="EyeClose" class="UT-EyeClose" TtBxFrIn="Icon" onclick="ShowPassword('LoginPassword','EyeOpen','EyeClose')" style="display:none"></i>

        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Password"></span></div>
</div>