@{
    Layout = null;
}

<div style="display:none;">responseformUT SuccessPop</div>

<div class="Wh100p DyFx FxJyCtCr FxAnImCr Pg10">
    <i class="UT-SmileyThumbUp" style="font-size:4rem;"></i>
</div>

<h2 class="Wh100p TtAnCr"> @ViewData["Message"]</h2>

<h3 class="Wh100p TtAnCr">Now Login with the New Password. </h3>

<h3 class="Wh100p TtAnCr">Hurry Up! To Discover Great Apps By Uncle Tech. </h3>