@model LibAuthService.ModelView.Account.LoginViewModel

@{
    Layout = null;
    ViewData["Action"] = "ChangeEmail";
}

<div class="Wh100p DyFx FxJyCtCr CrTe Pg20">
    <i class="UT-KeyRightSolid" style="font-size:5rem;"></i>
</div>
<div class="Pg20 TtAnCr">
    <h3>Please Enter Your Password!</h3>
    <form id="PassverifyForm"
          data-ajax="true"
          data-ajax-url="/Account/PasswordVerify"
          data-ajax-method="post"
          data-ajax-loading="#loader"
          data-ajax-success="PassVSuccess(data, status, xhr,'PassverifyForm','CreateOrEditChangeEmail')"
          data-ajax-failure="FormAjaxFail(xhr, status, error,'PassverifyForm')">

        @Html.AntiForgeryToken()

        <div id="CreateOrEditChangeEmail">
            @await Html.PartialAsync("_PasswordVerify",Model)
        </div>

        <div class="MnTp7 MnBm7">
            <button type="submit" class="BnRd17 CrBdTe CrTeTtLt BnWh100  SwBxIt2TtBx-Vn1 HrTmSeo94">Enter</button>
        </div>
    </form>
</div>
