@model WebAppColorStays.Models.ViewModel.CsAnCity

@{
    Layout = "_Layout";
    ViewData["Action"] = "AnCity";
}


<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Add @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1"><i class="UT-List-OLine FtSz18" onclick="location.href='/ColorStays/AnCity/Index'"></i></button>
    </div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx35 Pg3">
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <h3 class="MnTp7 MnBm14 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
                    <i class="UT-PenNibSmall"></i>
                    Enter Detail
                </h3>
                 <form id="Create"
                    data-ajax="true"
                    data-ajax-url="/ColorStays/AnCity/Create"
                    data-ajax-method="POST"
                    data-ajax-loading="#loader"
                    data-ajax-success="Success(data, status, xhr,'Create','CreateOrEdit')"
                    data-ajax-failure="FormAjaxFail(xhr, status, error,'Create')">

                    @Html.AntiForgeryToken()

                    <input type="hidden" name="NameAction" value="C" />

                    <div id="CreateOrEdit">@await Html.PartialAsync("_CreateOrEdit", Model)</div>

                    <div class="MnTp7 MnBm7" style="height:66vh;">
                        <div>
                            <div class="MaxMinDv">
                                <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="MnTp7 MnBm7 FxRw">
                        <div class="FxGw1">
                            <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-AddFile"></i>&nbsp;Add</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/AnCity/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="Fx65 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Models.ViewModel.CsAnCity>)ViewData["EnteredDetails"])
        </div>
    </div>
</div>

<script src="~/js/tinymce_6.2.0/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        IntializeTableSearch();
        StartSuggestionBox(2, 'SearchCity', '/ColorStays/City/SuggestCity', '', '', AoCeCity);
        StartSuggestionBox(2, 'SearchIcon', '/ColorStays/Icon/SuggestIcon', '', '', AoCeIcon);
        MaxMin();
    });

    tinymce.init({
        selector: '#Description',
        plugins: `a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker visualblocks wordcount`,
        toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck code | Source Code',
        a11ychecker_level: 'aaa',
        style_formats: [
            { title: 'Heading 1', block: 'h1' },
            { title: 'Heading 2', block: 'h2' },
            { title: 'Paragraph', block: 'p' },
            { title: 'Blockquote', block: 'blockquote' },
            { title: 'Image formats' },
            { title: 'Medium', selector: 'img', classes: 'medium' },
        ],
        object_resizing: true,
        valid_classes: {
            'img': 'medium',
            'div': 'related-content'
        },
        image_caption: true,
        templates: [
            {
                title: 'Related content',
                description: 'This template inserts a related content block',
                content: '<div class="related-content"><h3>Related content</h3><p><strong>{$rel_lede}</strong> {$rel_body}</p></div>'
            }
        ],
        content_langs: [
            { title: 'English (US)', code: 'en_US' },
        ],
        content_style: `
                            img {
                                height: auto;
                            margin: auto;
                            padding: 10px;
                            display: block;
                                                }
                            img.medium {
                                max - width: 25%;
                                                }
                            `
    });

    //Clear Autocompete data
    function ClearData(UrNe, UrId) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
    }

    //Autocomplete Item
    function AoCeCity(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_City_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }
    //Autocomplete Icon
    function AoCeIcon(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_Icon_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }
    function Success(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Def");
        //Here we get the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data, "text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/AnCity/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=NoSearch&NetRecords=' + netrecord);
    }

    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we update the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data,"text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/AnCity/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }
</script>

