@model WebAppColorStays.Models.ViewModel.CsPackageType


@{
    Layout = null;
    ViewData["Action"] = "PackageType";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<div>


        <div class="FxRw FxAnImSh">
            <div class="Fx50">
                <div class="MnTp10 MnBm18 TtAnCr Pg7">
                    <br />
                    @if (Model.ImageName != null)
                    {
                        <img src="@Model.ImageUrl" class="img-responsive" style="width:200px; height:200px;">
                    }
                    <br /> <br />
                    @if (Model.BigImage != null)
                    {
                        <img src="@Model.ImageUrl1" class="img-responsive" style="width:200px; height:200px;">
                    }
                </div>
            </div>
        <div class="Fx50" id="CreateOrEdit2">
            @await Html.PartialAsync("_CreatePhoto", Model)
        </div>
        </div>
</div>


