@model WebAppColorStays.Models.ViewModel.CsRoomType

@{
    Layout = "_Layout";
    ViewData["Action"] = "RoomType";
}


<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Add @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1"><i class="UT-List-OLine FtSz18" onclick="location.href='/ColorStays/RoomType/Index'"></i></button>
    </div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx45 Pg3">
            <div id="UTabs1">
                <div> Hotel Detail</div>
                <div> Hotel Amenities</div>
                <div> Hotel Image</div>
                <div>SetUp Image</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <div id="UTabs1Cont0">
                    <div class="Pg12">
                        <form id="Create"
                              data-ajax="true"
                              data-ajax-url="/ColorStays/RoomType/Create"
                              data-ajax-method="POST"
                              data-ajax-loading="#loader"
                              data-ajax-success="Success(data, status, xhr,'Create','CreateOrEdit')"
                              data-ajax-failure="FormAjaxFail(xhr, status, error,'Create')">

                            @Html.AntiForgeryToken()

                            <input type="hidden" name="NameAction" value="C" />

                            <div id="CreateOrEdit">@await Html.PartialAsync("_CreateOrEdit", Model)</div>
                            <div class="MnTp7 MnBm7" style="height:66vh;">
                                <div>
                                    <div class="MaxMinDv">
                                        <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="MnTp7 MnBm7 FxRw">
                                <div class="FxGw1">
                                    <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-AddFile"></i>&nbsp;Add</button>
                                </div>
                                <div>
                                    <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/RoomType/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="UTabs1Cont1">
                    <div id="CreateOrEditRoom" style="height: 400px;overflow: auto;"></div>
                    <div class="Pg10 FxRw">
                        <div class="FxGw1">
                            <button type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/RoomType/Create'"><i class="UT-SmileyThumbUp FtWt800"></i>&nbsp;Finish</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="ActiveTabUt('UTabs1', 2)"><i class="UT-ArrowRightCircleLine"></i>&nbsp;Next</button>
                        </div>
                    </div>
                </div>

                <div id="UTabs1Cont2">
                    <div class="Pg12">
                        <h3 class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">
                            <i class="UT-ImageLine"></i>
                            Upload Cover Image
                        </h3>
                        <form action="/" enctype="multipart/form-data" method="POST">
                            <input type="hidden" name="RId" id="RId" />
                            <input type="hidden" name="HId" id="HId" />

                            <div class="dropzone" id="myDropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </div>
                            <div class="MnTp7 MnBm7 FxRw">
                                <div class="FxGw1">
                                    <button type="button" id="submit-all" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-ImageLine"></i>&nbsp;Upload</button>
                                </div>
                                <div>
                                    <button style="display:none;" id="SwTb3" type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94 MnRt5" onclick="ActiveTabUt('UTabs1', 3)"><i class="UT-ArrowRightCircleLine"></i>&nbsp;Next</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div id="UTabs1Cont3">
                    <div id="AddImgDetail" style="height: 400px;overflow: auto;"></div>
                    <div class="Pg10 FxRw">
                        <div class="FxGw1">
                            <button type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/RoomType/Create'"><i class="UT-SmileyThumbUp FtWt800"></i>&nbsp;Finish</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="ActiveTabUt('UTabs1', 2)"><i class="UT-ArrowLeftCircleLine"></i>&nbsp;Back</button>
                            <button type="button" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick=""><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Fx55 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            <div id="UTabs2">
                <div>All Hotels</div>
                <div>Hotel Facility</div>
                <div>Hotel Images</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr CrBrTe BrRs5 ">
                <div id="UTabs2Cont0">
                    <div id="Detail">
                        @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Models.ViewModel.CsRoomType>)ViewData["EnteredDetails"])
                    </div>
                </div>
                <div id="UTabs2Cont1">
                    <div id="Facility"></div>
                </div>
                <div id="UTabs2Cont2">
                    <div id="Images"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/js/tinymce_6.2.0/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<script src="~/lib/dropzone/min/dropzone.min.js"></script>
<script>
    $(document).ready(function () {
        TabsUT('UTabs1', 0, null, [1, 2, 3]);
        TabsUT('UTabs2', 0, null, [1, 2]);
        IntializeTableSearch();
        StartSuggestionBox(2, 'SuggestHotel', '/ColorStays/Hotel/SuggestHotel', '', '', AoCeHotel);
        MaxMin();
    });


    tinymce.init({
        selector: '#Description',
        plugins: `a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker visualblocks wordcount`,
        toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck code | Source Code',
        a11ychecker_level: 'aaa',
        style_formats: [
            { title: 'Heading 1', block: 'h1' },
            { title: 'Heading 2', block: 'h2' },
            { title: 'Paragraph', block: 'p' },
            { title: 'Blockquote', block: 'blockquote' },
            { title: 'Image formats' },
            { title: 'Medium', selector: 'img', classes: 'medium' },
        ],
        object_resizing: true,
        valid_classes: {
            'img': 'medium',
            'div': 'related-content'
        },
        image_caption: true,
        templates: [
            {
                title: 'Related content',
                description: 'This template inserts a related content block',
                content: '<div class="related-content"><h3>Related content</h3><p><strong>{$rel_lede}</strong> {$rel_body}</p></div>'
            }
        ],
        content_langs: [
            { title: 'English (US)', code: 'en_US' },
        ],
        content_style: `
                    img {
                        height: auto;
                    margin: auto;
                    padding: 10px;
                    display: block;
                                        }
                    img.medium {
                        max - width: 25%;
                                        }
                    `
    });

    //Clear Autocompete data
    function ClearData(UrNe, UrId) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
    }

    //Autocomplete Item
    function AoCeHotel(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_Hotel_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }


    function Success(data, status, xhr, FormID, FormFieldID, FormFieldURL) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Detail");
        //Show the Image Tab
        ActiveTabUt('UTabs1', 1);
        ActiveTabUt('UTabs2', 0);
        GetRoomFacility();
        document.getElementById('RId').value = document.getElementById('RTId').value;
        document.getElementById('HId').value = document.getElementById('HlId').value;
    }
    //Here get the list of hotel list
    function GetRoomFacility() {
        var id = document.getElementById('RTId').value;
        var hid = document.getElementById('HlId').value;
        getUT('/ColorStays/RoomType/RoomFacilityList?HlId='+hid+'&RTId=' + id, function (data) {
            document.getElementById('CreateOrEditRoom').innerHTML = "";
            document.getElementById('CreateOrEditRoom').innerHTML = data;
            HideLoader();
        });
    }

    function SuccessRoomFacility(data, status, xhr, FormID, FormFieldID) {
        //FormAjaxSuccess(data, FormID, FormFieldID, "UpdateNothing", "Detail");
        //Show the Image Tab
        ActiveTabUt('UTabs1', 1);
        ActiveTabUt('UTabs2', 1);
        GetRoomFacility();
        GetSelectedFacility();
        document.getElementById('RTId').value = document.getElementById('RTId').value;
    }

    function GetSelectedFacility() {
        var HotelId = document.getElementById('RTId').value;
        getUT('/ColorStays/RoomType/GetRoomFacility?RTId=' + HotelId, function (data) {
            document.getElementById('Facility').innerHTML = "";
            document.getElementById('Facility').innerHTML = data;
        });
    }

    //Delete Hotel Facility
    function DeleteFacility(RTId, Id) {
        getUT('/ColorStays/RoomType/DeleteFacilityOfRoom?HlId=' + RTId + '&Id=' + Id, function (data) {
            GetRoomFacility();
            GetSelectedFacility();
        });
    }

    function SuccessIeDl(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDivNoFReset", "Images");
        ShowUploads();
        ActiveTabUt('UTabs2', 2);
    }


    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we update the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data, "text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/RoomType/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }


    //Upload the Images
    Dropzone.options.myDropzone = {
        url: '/ColorStays/RoomType/SaveImage',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 5,
        maxFiles: 10,
        acceptedFiles: 'image/*',
        addRemoveLinks: true,
        error: function (file, response) {
            if ($.type(response) === "string")
                var message = response; //dropzone sends it's own error messages in string
            else
                var message = response.message;
            file.previewElement.classList.add("dz-error");
            _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
            _results = [];
            for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                node = _ref[_i];
                _results.push(node.textContent = message);
            }
            HideLoader();
            return _results;
        },
        init: function () {
            dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
            // for Dropzone to process the queue (instead of default form behavior):
            document.getElementById("submit-all").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                dzClosure.processQueue();
            });

            //send all the form data along with the files:
            this.on("sendingmultiple", function (data, xhr, formData) {
                formData.append("RId", jQuery("#RId").val());
                formData.append("HId", jQuery("#HId").val());
                ShowLoader();
            });

            this.on("success", function () {
                ShowUploads();
            });
        }
    }
    //Ends

    //Show the Uploaded Image in the Tab.......................
    function ShowUploads() {
        var RoomId = $("#RId").val();
        var HotelId = $("#HId").val();
        getUT('/ColorStays/HotelImageVideo/UploadedRoomImage?RoomId=' + RoomId + '&ShowBtn=' + true, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 2);
            document.getElementById('SwTb3').style.display = "block";
            HideLoader();
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/HotelImageVideo/Index?HotelId=' + HotelId + '&RoomId=' + RoomId + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
    };
    //Ends.............................

    //Delete the Image
    function DeleteImg(id, HotelId, RoomId, imgname) {
        ShowLoader();
        getUT('/ColorStays/HotelImageVideo/ImageDelete?ImageID=' + id + '&HotelId=' + HotelId + '&ImgName=' + imgname, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 2);
            //Show the Images in LHS for Update
            getUT('/ColorStays/HotelImageVideo/Index?HotelId=' + HotelId + '&RoomId=' + RoomId + '&UpdateDetail=Yes', function (data) {
                document.getElementById('AddImgDetail').innerHTML = "";
                document.getElementById('AddImgDetail').innerHTML = data;
            });
            HideLoader();
        });

    };
    //Ends
</script>

