@model IEnumerable<WebAppColorStays.Models.ViewModel.CsRoomTypeFacilityMap>
@{
    Layout = null;
    ViewData["Action"] = "RoomType";
}


<table class="TeStrip TeBr TeFxCl1">
    <thead class="TeFxHd">
        <tr>
            <th>Remove</th>
            <th>Selected Amenities of Hotel</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in @ViewBag.RoomFacility)
        {
            <tr class="gradeX">
                <td>
                    @{
                        string id = @item.Id;
                    }
                    <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" onclick="DeleteFacility('@item.Fk_RoomType_Name', '@id')" style="margin-left:8px"> <i class="UT-DeletePageSolid"> </i> </a>
                </td>
                <td>
                    @item.Fk_HotelFacility_Name
                </td>
            </tr>
        }
    </tbody>
</table>
