@model WebAppColorStays.Models.ViewModel.CsPackage

@{
    Layout = null;
    ViewData["Action"] = "Package";
}

<div style="display:none">responseformUT ShowData</div>


<div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
    <h3 class="MnTp7 MnBm7 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
        <i class="UT-DetailLine"></i>
        @ViewBag.Title Status
    </h3>
    <div style="overflow:auto; width:100%;" class="PopUpDetailContent">
        <div>
            Display Package Link in Footer
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="radio" name="ASD" id="asd" value="Added" />
                <input class="SeIt1o15" type="radio" name="ASD" id="asd" value="Removed" />
            </div>
        </div>
        <div class="Pg8">
            <button type="button" onclick="ChangeStatus('@Model.Id')" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94">&nbsp;Save</button>
        </div>
    </div>

</div>