@model IEnumerable<WebAppColorStays.Models.ViewModel.CsPackageInclusionMap>
@{
    Layout = null;
    ViewData["Action"] = "Package";
}
<b style="display:none">responseformUT SuccessPop</b>


<table class="TeStrip TeBr TeFxCl1">
    <thead class="TeFxHd">
        <tr>
            <th>Remove</th>
            <th>Selected Exclusions of Package</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in @ViewBag.PackageExclusion)
        {
            <tr class="gradeX">
                <td>
                    @{
                        string id = @item.Id;
                    }
                    <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" onclick="DeleteExclusion('@item.Fk_Package_Name', '@id')" style="margin-left:8px"> <i class="UT-DeletePageSolid"> </i> </a>
                </td>
                <td>
                    @item.Fk_PackageInclusion_Name
                </td>
            </tr>
        }
    </tbody>
</table>
