@model List<WebAppColorStays.Models.ViewModel.CsPackageCityMap>

@{
    Layout = null;
    ViewData["Action"] = "Package";
}


<table class="TeStrip TeBr TeFxCl1">
    <thead class="TeFxHd">
        <tr>
            <th>Remove</th>
            <th>Selected City</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="gradeX">
                <td>
                    @{
                        string id = @item.Id;
                    }
                    <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" onclick="DeleteCity('@item.Fk_Package_Name', '@item.Id')" style="margin-left:8px"> <i class="UT-DeletePageSolid"> </i> </a>
                </td>
                <td>
                    @item.Fk_City_Name
                </td>
            </tr>
        }
    </tbody>
</table>
