@model WebAppColorStays.Model.ViewModel.CsBlog
@{
    Layout = null;
}

<input type="hidden" id="DesBgId" asp-for="Id"/>
<input type="hidden" asp-for="Remarks" value="CreateEdit" />

<div class="MnTpBm15 MnLtRt7">
    <textarea asp-for="Description"> </textarea>
</div>

