@model IEnumerable<WebAppColorStays.Models.ViewModel.CsActivityImage>


@{
    Layout = null;
    ViewData["Action"] = "ActivityImage";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<div>
    @foreach (var item in Model)
    {
        <div class="FxRw FxAnImSh">
            <div class="Fx50">
                <div class="MnTp10 MnBm18 TtAnCr Pg7">
                    <img src="@item.ImageUrl" class="img-responsive" style="width:200px; height:200px;">
                </div>
            </div>
            <div class="Fx50" id="CreateOrEdit2">
                @await Html.PartialAsync("_CreateOrEdit", item)
            </div>
        </div>

    }
</div>


