@model WebAppColorStays.Model.ViewModel.CsBlogAuthor

@{
    Layout = "_Layout";
    ViewData["Action"] = "BgAuthor";
}


<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Add @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1"><i class="UT-List-OLine FtSz18" onclick="location.href='/ColorStays/BgAuthor/Index'"></i></button>
    </div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx35 Pg3">
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <h3 class="MnTp7 MnBm14 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
                    <i class="UT-PenNibSmall"></i>
                    Enter Detail
                </h3>
                 <form id="Create"
                    data-ajax="true"
                    data-ajax-url="/ColorStays/BgAuthor/Create"
                    data-ajax-method="POST"
                    data-ajax-loading="#loader"
                    enctype="multipart/form-data"
                    data-ajax-success="Success(data, status, xhr,'Create','CreateOrEdit')"
                    data-ajax-failure="FormAjaxFail(xhr, status, error,'Create')">

                    @Html.AntiForgeryToken()

                    <input type="hidden" name="NameAction" value="C" />

                    <div id="CreateOrEdit">@await Html.PartialAsync("_CreateOrEdit", Model)</div>

                    <div class="MnTp7 MnBm7 FxRw">
                        <div class="FxGw1">
                            <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-AddFile"></i>&nbsp;Add</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/BgAuthor/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="Fx65 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Model.ViewModel.CsBlogAuthor>)ViewData["EnteredDetails"])
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        IntializeTableSearch();
        StartSuggestionBox(2, 'EmployeeName', '/Account/EmployeeAoCe');

    });
    //Autocomplete
    function SelectSuggestion(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById(InputId).value = event.target.Value;
        document.getElementById("Fk_An_AspNetUsers_FullName").value = event.target.Id;
    }


    function myFunction() {
        var x = document.getElementById("myFile");
        var txt = "";

        var d = x.value.split('.').pop();
        if (d != "jpg" && d != "png" && d != "jpeg") {
            document.getElementById('demo').style.display = "block";
            document.getElementById('demo').innerHTML = 'Only jpg,png & jpeg Accepted';
        }

        if ('files' in x) {
            if (x.files.length == 0) {
                txt = "Select one or more files.";
            }
        }
        else {
            if (x.value == "") {
                txt += "Select one or more files.";
            } else {
                txt += "The files property is not supported by your browser!";
                txt += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead.
            }
        }
        document.getElementById("demo").innerHTML = txt;
    }

    function Success(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Def");
        //Here we get the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data, "text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/BgAuthor/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=NoSearch&NetRecords=' + netrecord);
    }

    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we update the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data,"text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/BgAuthor/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }
</script>

