@{
    Layout = "_Layout";
    ViewData["Action"] = "MainNav";

}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1> Website Area</h1></div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg15 BrRs15" style="min-height:80vh">
    <h2 class="TtAnCr">Description</h2>
</div>

