@model IEnumerable<LibCompanyService.Models.ViewCompany.CsProjectApp>

@{
    Layout = "_Layout";
    ViewData["Action"] = "MainNav";
}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1> Apps</h1></div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg15 BrRs15" style="min-height:80vh">
    <div class="FxRw">

        @if (ViewData["ShowApps"] == "true")
        {
            if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Developer"))
            {
                        <div class="Fx25 Pg15">
                            <div class="DyFx FxDnCn FxJyCtCr FxAnImCr Pg10 CrBdYw70 BrRs8">
                                <a href="~/Developer/Home/Index">
                                    <div class="FtSzRm4"><i class="UT-AppsSolid"></i> </div>
                                </a>
                                <a href="~/Developer/Home/Index">
                                    <div class="FtSz18">Developer</div>
                                </a>
                            </div>
                        </div>
            }
        }
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                @if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole(item.Name))
                {
                                <div class="Fx25 Pg15">
                                    <div class="DyFx FxDnCn FxJyCtCr FxAnImCr Pg10 BrRs8" style="background-color:@item.ColorTheme">
                                        <a href="@Html.Raw(item.AppPath)">
                                            <div class="FtSzRm4">@Html.Raw(item.AppIcon) </div>
                                        </a>
                                        <a href="@Html.Raw(item.AppPath)">
                                            <div class="FtSz20">@item.Name
                                            </div>
                                        </a>
                                    </div>
                                </div>
                }
            }
        }
    </div>

</div>
