@model IEnumerable<LibCompanyService.Models.ViewCompany.CsProjectApp>

@{
    Layout = "_Layout";
    ViewData["Action"] = "MainNav";
}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1> Apps</h1></div>
</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg15 BrRs15" style="min-height:80vh">
    <div class="FxRw">

        @if (ViewData["ShowApps"] == "true")
        {
            if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Developer"))
            {
                        <div class="Fx25 Pg15">
                            <div class="DyFx FxDnCn FxJyCtCr FxAnImCr Pg10 CrBdYw70 BrRs8">
                                <a href="~/Developer/Home/Index">
                                    <div class="FtSzRm4"><i class="UT-AppsSolid"></i> </div>
                                </a>
                                <a href="~/Developer/Home/Index">
                                    <div class="FtSz18">Developer</div>
                                </a>
                            </div>
                        </div>
            }
        }
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                @if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole(item.Name))
                {
                                <div class="Fx25 Pg15">
                                    <div class="DyFx FxDnCn FxJyCtCr FxAnImCr Pg10 BrRs8" style="background-color:@item.ColorTheme">
                                        <a href="@Html.Raw(item.AppPath)">
                                            <div class="FtSzRm4">@Html.Raw(item.AppIcon) </div>
                                        </a>
                                        <a href="@Html.Raw(item.AppPath)">
                                            <div class="FtSz20">@item.Name
                                            </div>
                                        </a>
                            @*                            @if (item.Name == "Issue Tracker")
                            {
                                <span id="IeSwDv">You have <b id="IeCount"></b> Issues</span>
                            }*@
                                    </div>
                                </div>
                }
            }
        }
    </div>

</div>


@*<script>
    $(document).ready(function(){
        ShowLoader();
        CtUrIeCt();
    });
    //Show the Current User's Assigned Issue Count in the Layout
    function CtUrIeCt(){
        getUT('/IssueTracker/Issue/AssignedIssueCount', function (data) {
            if(data > 0) {
                document.getElementById('PopUpScript').style.display = "block";
                document.getElementById('PopUpScriptDetailContentID').innerHTML = '<i class="UT-IssueActionBulb" style="font-size: 20vh;"></i> <br/> <br/> You have ' + data +' Issues! <br/> <br/> Go in Issue Tracker & Take Action! <br/> <br/> Thank You!';
                document.getElementById('PopUpOkBtn').removeAttribute('onclick', 'HidePopUpScript();');
                document.getElementById('PopUpOkBtn').setAttribute('onclick', "location.href='/IssueTracker/IssueTracker/UserIssueTracker'");
                HideLoader();
            }
            HideLoader();
        });
    }
    //Ends

    function HidePopUpScript(){
        document.getElementById('PopUpScript').style.display = "none";
        document.getElementById('PopUpScriptDetailContentID').innerHTML = "";
        document.getElementById('PopUpOkBtn').removeAttribute('onclick', "location.href='/IssueTracker/IssueTracker/UserIssueTracker'");
        document.getElementById('PopUpOkBtn').setAttribute('onclick', 'HidePopUpScript();');
    }

</script>*@