@model WebAppColorStays.Models.ViewModel.CsKdCnSingleForm

@{
    Layout = null;
    ViewData["Action"] = "KdCnSingleForm";
}

<div class="TtBxFlStDiv Pg5">
    @if (Model != null)
    {
        @Html.EditorFor(model => model.CheckStateList.CheckState, new { htmlAttributes = new { @checked = false } })
    }
</div>

